@{
    Layout = "~/Views/Shared/_share.cshtml";
}
<style>
  

    .container-pp {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        font-family: Arial, sans-serif;
    }

    h1, h2, h3 {
        color: #333;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 20px;
        margin-top: 20px;
    }

    p {
        margin-bottom: 10px;
        line-height: 1.5;
    }

    ul {
        margin-bottom: 10px;
        padding-left: 20px;
    }

   
    a {
        color: #007bff;
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
        }
</style>

    <div class="container-pp">
        <h1>Terms and Conditions</h1>
        <p>Welcome to MasterChef Recipes ("we", "our", "us"). By accessing this website [www.masterchefrecipes.com] (the "Site"), you agree to comply with and be bound by the following terms and conditions. Please read these terms and conditions carefully before using our website.</p>

        <h2>1. Intellectual Property</h2>
        <p>The content of this Site, including but not limited to text, graphics, images, logos, and software, is the property of MasterChef Recipes and is protected by copyright laws.</p>

        <h2>2. Use License</h2>
        <ul>
            <li>You may download one copy of the materials (information or software) on MasterChef Recipes' website for personal, non-commercial transitory viewing only.</li>
            <li>
                This is the grant of a license, not a transfer of title, and under this license, you may not:
                <ul>
                    <li>Modify or copy the materials;</li>
                    <li>Use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
                    <li>Attempt to decompile or reverse engineer any software contained on MasterChef Recipes' website;</li>
                    <li>Remove any copyright or other proprietary notations from the materials; or</li>
                    <li>Transfer the materials to another person or "mirror" the materials on any other server.</li>
                </ul>
            </li>
            <li>This license shall automatically terminate if you violate any of these restrictions and may be terminated by MasterChef Recipes at any time.</li>
        </ul>

        <!-- Include other sections of the terms and conditions similarly -->

        <h2>3. Contact Us</h2>
        <p>If you have any questions about these terms and conditions, please contact us:</p>
        <ul>
            <li>By email: <a href="mailto:info@masterchefrecipes.com">info@masterchefrecipes.com</a></li>
        </ul>
    </div>
