<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>RECIPE-Ecommerce</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="~/Home/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/Home/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Home/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/Home/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Home/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Home/css/custom.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


</head>

<body>
    <!-- Start Main Top -->
    <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="custom-select-box">
                        <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD">
                            
                            <option>$ USD</option>
                            
                        </select>
                    </div>
                    
                    <div class="our-link">
                        <ul>
                            <!--<li><a href="#"><i class="fa fa-user s_color"></i> My Account</a></li>-->

                            <li><a asp-action="contactusGust" asp-controller="Home"><i class="fas fa-headset"></i> Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="login-box">
                        <div class="login-box">
                            <a asp-action="login" asp-controller="loginreg" class="btn hvr-hover" style="color:white">Log</a>
                            <a asp-action="register" asp-controller="loginreg" class="btn hvr-hover" style="color:white">signup</a>
                        </div>
                        

                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Top -->
    <!-- Start Main Top -->
  
    <!-- End Main Top -->
   
    @RenderBody()
    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
				<div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link">
                            <h4>Information</h4>
                            <ul>
                                <li><a asp-action="Aboutus" asp-controller="Home">About Us</a></li>


                                <li><a asp-action="termsGust" asp-controller="Home">Terms &amp; Conditions</a></li>
                                <li><a asp-action="privacypolicyGust" asp-controller="Home">Privacy Policy</a></li>

                            </ul>
                        </div>
                    </div>
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="footer-top-box">
							<h3>SubScribe to email Service</h3>
                            <form class="newsletter-box" method="post" asp-action="GenerateQRCode" asp-controller="QRCode">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="Email" placeholder="Email Address*" />
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <button class="btn hvr-hover" type="submit">Subscribe</button>
                            </form>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="footer-top-box">
							<h3>Social Media Accounts</h3>
							<p></p>
							<ul>
                                <li><a href="https://www.facebook.com/profile.php?id=61559611088226&mibextid=AEUHqQ"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="https://twitter.com/atheeradel07"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.instagram.com/kvp_911?igsh=MTR6N2Vpa3I3MW0ycg%3D%3D&utm_source=qr"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                
                                
                                <li><a href="https://www.pinterest.com/ronnaca/masterchef/"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
                               
                            </ul>
						</div>
					</div>
				</div>
				<hr>
              
            </div>
        </div>
    </footer>
    <!-- End Footer  -->

    <!-- Start copyright  -->
    <div class="footer-copyright" style="text-align:center">
        All Rights Reserved. &copy; 2024 <a href="#" style="color:white">MasterChef</a> Design By :
        <a href="https://html.design/" style="color:white">Atheer Adel</a>
    </div>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="~/Home/js/jquery-3.2.1.min.js"></script>
    <script src="~/Home/js/popper.min.js"></script>
    <script src="~/Home/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="~/Home/js/jquery.superslides.min.js"></script>
    <script src="~/Home/js/bootstrap-select.js"></script>
    <script src="~/Home/js/inewsticker.js"></script>
    <script src="~/Home/js/bootsnav.js."></script>
    <script src="~/Home/js/images-loded.min.js"></script>
    <script src="~/Home/js/isotope.min.js"></script>
    <script src="~/Home/js/owl.carousel.min.js"></script>
    <script src="~/Home/js/baguetteBox.min.js"></script>
    <script src="~/Home/js/form-validator.min.js"></script>
    <script src="~/Home/js/contact-form-script.js"></script>
    <script src="~/Home/js/custom.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    @await RenderSectionAsync("Scripts", required: false)


</body>

</html>