@model MVCProject.Models.Aboutu

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@if (TempData["message"] != null)
{
    <script src="/lib/jquery//dist/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">

        toastr["warning"]("you must upload image File Only", "Masterchef")

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
}
<div class="main-panel">
    <div class="content-wrapper">
        <h1>Edit</h1>

        <h4>About us Page</h4>
        <hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AboutId" />
            
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aboutusdescription" class="control-label"></label>
                <input asp-for="Aboutusdescription" class="form-control" />
                <span asp-validation-for="Aboutusdescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trustedinfo" class="control-label"></label>
                <input asp-for="Trustedinfo" class="form-control" />
                <span asp-validation-for="Trustedinfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profinfo" class="control-label"></label>
                <input asp-for="Profinfo" class="form-control" />
                <span asp-validation-for="Profinfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expertinfo" class="control-label"></label>
                <input asp-for="Expertinfo" class="form-control" />
                <span asp-validation-for="Expertinfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
            <a asp-action="Index" class=" btn btn-sm bg-gradient-primary">Back to List</a>
</div>
</div></div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
