@model MVCProject.Models.Contactu

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="main-panel">
    <div class="content-wrapper">
<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Contact us Page</h4>
    <hr />
            <div class="card mb-3">

                <div class="card-body">
                    <h5 class="card-title">
                        @Html.DisplayNameFor(model => model.Contactusbannerimg)
                        <br />
                        <p>@Html.DisplayFor(model => model.Contactusbannerimg)</p>
                    </h5>
                    <p class="card-text">
                        @Html.DisplayNameFor(model => model.Contactinfo)
                        <br /> @Html.DisplayFor(model => model.Contactinfo)
                    </p>

                </div>

            </div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ContId" />
        <input type="submit" value="Delete" class="btn btn-sm btn-danger" /> |
                <a asp-action="Index" class=" btn btn-sm bg-gradient-primary" >Back to List</a>
    </form>
</div>
        </div></div>
